.navbar{
    
        position: sticky;
        top: 0;
        background-color: white; /* or any background */
        z-index: 1000; /* so it stays above other content */
        background: transparent;
      
}
@media (max-width: 600px) {
 .input{
        padding: 0px;
        width: 30px;
 }
 .search{
    display: none;

 }
}

